  @font-face {
    font-family: 'PorkysHeavy';
    src: url('porkys.heavy.ttf') format('truetype');
  }

  .custom-bg {
      background-image: url('matcha_backgorund.webp');
      background-size: cover;  
      background-position: center; 
      height:100vh;
      width:  100%;
    }

  .transparent-navbar {
    background-color: transparent !important;
  }

  .custom-brand {
    color: #FFFFFF;
    font-family: 'PorkysHeavy';
    font-size: 1.5em;
  }

  .call-to-action{
    color: #FFFFFF;
    padding-top: 1%;

  }
